<ion-header>
  <ion-toolbar>
    <ion-title>{{'GRU-SELECTION.page-name' | translate}}</ion-title>
    <ion-menu-button slot="start" menu="custom"></ion-menu-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
    type="number"
    [(ngModel)]="searchGru"
    (ionChange)="autocompleteGru($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div>
    <ion-list>
      <ion-item
       *ngFor="let gru of grusArray"
       (click)="onSelectedGru(gru)"
        [routerLink]="[gru.craneCode]">
        {{'GRU-SELECTION.gru' | translate}} {{gru.id}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
