<ion-header>
  <ion-toolbar>
    <ion-title>Lista Camion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="camion-grid-container">
    <ion-grid class="ion-grid-custom">
      <ion-row class="ion-text-center">
        <ion-col>
          <span>Truck Code</span>
        </ion-col>
        <ion-col>
          <span>Description</span>
        </ion-col>
        <ion-col>
          <span>Position (m)</span>
        </ion-col>
      </ion-row>
      <ion-row [style.backgroundColor]="camion.position | changeColorByPosition"  class="row-color-change-by-position"  *ngFor="let camion of camionsArray; let i = index">
        <ion-col class="ion-text-center ">
          <span>{{camion.truckCode}}</span>
        </ion-col>
        <div class="divider">
        </div>
        <ion-col class="">
          <span>{{camion.truckDescr}}</span>
        </ion-col>
        <div class="divider">
        </div>
        <ion-col class="position-col">
          <div class="camion-position-col">{{camion.position | positivePosition}}</div>
          <div class="camion-cardinal-col">{{camion.position | addEastOvest}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="camion-per-area-grid ion-text-center">
      <ion-row>
        <ion-col class="camion-area">
          <div>
            O
          </div>
        </ion-col>
        <ion-col class="camion-area">
          <div>
            E
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="camions-by-position-row">
        <ion-col class="color-by-distance lontano">
          <div>
            {{camionService.positionAggregator.lontanoEstArray.length}}
          </div>
        </ion-col>
        <ion-col class="color-by-distance medio">
          <div>
            {{camionService.positionAggregator.medioEstArray.length}}
          </div>
        </ion-col>
        <ion-col class="color-by-distance vicino">
          <div>
            {{camionService.positionAggregator.vicinoArray.length}}
          </div>
        </ion-col>
        <ion-col class="color-by-distance medio">
          <div>
            {{camionService.positionAggregator.medioOvestArray.length}}
          </div>
        </ion-col>
        <ion-col class="color-by-distance lontano">
          <div >
            {{camionService.positionAggregator.lontanoOvestArray.length}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
