<ion-header>
  <ion-toolbar>
    <ion-title>Lista Camion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="camion-grid-container">
    <ion-grid class="ion-grid-custom">
      <ion-row class="ion-text-center">
        <ion-col>
          <span>Truck Code</span>
        </ion-col>
        <ion-col>
          <span>Description</span>
        </ion-col>
        <ion-col>
          <span>Position (m)</span>
        </ion-col>
      </ion-row>
      <ion-row [style.backgroundColor]="camion.position | changeColorByPosition"  class="row-color-change-by-position"  *ngFor="let camion of camionsArray; let i = index">
        <ion-col class="ion-text-center cell-top-border">
          <span>{{camion.truckCode}}</span>
        </ion-col>
        <div class="divider">
        </div>
        <ion-col class="cell-top-border cell-side-borders">
          <span>{{camion.truckDescr}}</span>
        </ion-col>
        <div class="divider">
        </div>
        <ion-col class="ion-text-center cell-top-border">
          <span>{{camion.position | addEastOvest}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="camion-per-area-grid">
      <ion-row>
        <ion-col>
          <span>
            Lontano
          </span>
        </ion-col>
        <ion-col>
          <span>
            Medio
          </span>
        </ion-col>
        <ion-col>
          <span>
            Ok
          </span>
        </ion-col>
        <ion-col>
          <span>
            Medio
          </span>
        </ion-col>
        <ion-col>
          <span>
            Lontano
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="color-by-distance">
          <span>
            
          </span>
        </ion-col>
        <ion-col class="color-by-distance">
          <span>

          </span>
        </ion-col>
        <ion-col class="color-by-distance">
          <span>

          </span>
        </ion-col>
        <ion-col class="color-by-distance">
          <span>

          </span>
        </ion-col>
        <ion-col class="color-by-distance">
          <span >

          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
