<ion-header>
  <ion-toolbar>
    <ion-title>Selezione Gru</ion-title>
    <ion-menu-button slot="start" menu="custom"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select  placeholder="Seleziona Gru: ">
        <ion-select-option value="apples">Gru 1</ion-select-option>
        <ion-select-option value="oranges">Gru 2</ion-select-option>
        <ion-select-option value="bananas">Gru 3</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
