<ion-app>
  <ion-menu side="start" menuId="custom" contentId="main-menu" class="custom-menu" >
    <ion-header>
      <ion-menu-toggle>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-menu-toggle>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Home</ion-item>
          <ion-item>Selezione Gru</ion-item>
          <ion-item>Impostazioni Gru</ion-item>
          <ion-item>Logout</ion-item>
        </ion-list>
      </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-menu"></ion-router-outlet>
</ion-app>
